<?xml version="1.0"?>
<robot name="crazyflie" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_crazyflie">
    <origin rpy="0 0 0" xyz="0.0 0 0" />
    <visual>
        <geometry>
          <!--cylinder length="0.02" radius="0.05" /-->
          <mesh filename="package://crazyflie_ros2_description/meshes/cf2_assembly.stl"/>
        </geometry>      
    </visual>
  </link>
</robot>